<!-- Изначально не активна ни одна опция -->
<div class="itc-select" id="select-1">
    <!-- Кнопка для открытия выпадающего списка -->
    <button type="button" class="itc-select__toggle" name="alfabet" value="" data-select="toggle"
        data-index="-1">A</button>
    <!-- Выпадающий список -->
    <div class="itc-select__dropdown">
        <ul class="itc-select__options">
            <li class="itc-select__option" data-select="option" data-value="B" data-index="0">B</li>
            <li class="itc-select__option" data-select="option" data-value="C" data-index="1">C</li>
            <li class="itc-select__option" data-select="option" data-value="D" data-index="2">D</li>
            <li class="itc-select__option" data-select="option" data-value="E" data-index="3">E</li>
            <li class="itc-select__option" data-select="option" data-value="F" data-index="4">F</li>
            <li class="itc-select__option" data-select="option" data-value="G" data-index="5">G</li>
            <li class="itc-select__option" data-select="option" data-value="H" data-index="6">H</li>
            <li class="itc-select__option" data-select="option" data-value="I" data-index="7">I</li>
            <li class="itc-select__option" data-select="option" data-value="J" data-index="8">J</li>
            <li class="itc-select__option" data-select="option" data-value="K" data-index="9">K</li>
            <li class="itc-select__option" data-select="option" data-value="L" data-index="10">L</li>
            <li class="itc-select__option" data-select="option" data-value="M" data-index="11">M</li>
            <li class="itc-select__option" data-select="option" data-value="N" data-index="12">N</li>
            <li class="itc-select__option" data-select="option" data-value="O" data-index="13">O</li>
            <li class="itc-select__option" data-select="option" data-value="P" data-index="14">P</li>
            <li class="itc-select__option" data-select="option" data-value="Q" data-index="15">Q</li>
            <li class="itc-select__option" data-select="option" data-value="R" data-index="16">R</li>
            <li class="itc-select__option" data-select="option" data-value="S" data-index="17">S</li>
            <li class="itc-select__option" data-select="option" data-value="T" data-index="18">T</li>
            <li class="itc-select__option" data-select="option" data-value="U" data-index="19">U</li>
            <li class="itc-select__option" data-select="option" data-value="V" data-index="20">V</li>
            <li class="itc-select__option" data-select="option" data-value="W" data-index="21">W</li>
            <li class="itc-select__option" data-select="option" data-value="X" data-index="22">X</li>
            <li class="itc-select__option" data-select="option" data-value="Y" data-index="23">Y</li>
            <li class="itc-select__option" data-select="option" data-value="Z" data-index="24">Z</li>
            <li class="itc-select__option" data-select="option" data-value="1" data-index="25">1</li>
            <li class="itc-select__option" data-select="option" data-value="2" data-index="26">2</li>
            <li class="itc-select__option" data-select="option" data-value="3" data-index="27">3</li>
            <li class="itc-select__option" data-select="option" data-value="4" data-index="28">4</li>
            <li class="itc-select__option" data-select="option" data-value="5" data-index="29">5</li>
            <li class="itc-select__option" data-select="option" data-value="6" data-index="30">6</li>
            <li class="itc-select__option" data-select="option" data-value="7" data-index="31">7</li>
            <li class="itc-select__option" data-select="option" data-value="8" data-index="32">8</li>
            <li class="itc-select__option" data-select="option" data-value="9" data-index="33">9</li>
            <li class="itc-select__option" data-select="option" data-value="0" data-index="34">0</li>
        </ul>
    </div>
</div>