.btn__orange {
  padding: 15px 18px;
  background-color: #fe7031;
  border: 1px solid #fe7031;
  border-radius: 4px;
  color: $colorBackgroundDay;

  &:hover,
  &:focus {
    background-color: $colorBackgroundDay;
    color: $colorFontPrimary;
    border-radius: 4px;
    border: 1px solid $colorFontPrimary;
  }
}

.btn__transparent {
  display: flex;
  text-align: center;
  gap: 9px;
  padding: 10px 19px;
  background-color: transparent;
  border-radius: 4px;
  border-color: $colorFontPrimary;
  color: $colorFontPrimary;

  &:hover,
  &:focus {
    background-color: $colorFontPrimary;
    color: $colorBackgroundDay;
  }
}

.btn__transparent:hover .svg__btn,
.btn__transparent:focus .svg__btn {
  fill: currentColor;
}
